@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vibbl5');
  src:  url('fonts/icomoon.eot?vibbl5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vibbl5') format('truetype'),
    url('fonts/icomoon.woff?vibbl5') format('woff'),
    url('fonts/icomoon.svg?vibbl5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-widget-whatsapp:before {
  content: "\e900";
}
.icon-widget-vk:before {
  content: "\e901";
}
.icon-widget-viber:before {
  content: "\e902";
}
.icon-widget-twitter:before {
  content: "\e903";
}
.icon-widget-telegram:before {
  content: "\e904";
}
.icon-widget-instagram:before {
  content: "\e905";
}
.icon-widget-fb:before {
  content: "\e906";
}
.icon-link:before {
  content: "\e907";
}
